/* You can add global styles to this file, and also import other style files */
html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 960px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
    font-weight: 300;
    
}

.mainPageArea{
    background: #fff;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
    min-height: 600px;
    display: grid;
}

header{
    padding: 10px;
    height: 80px;
}
.logo{
    float: left;
}
.logoImage{
    height: 30px;
    width: 30px;
}

.navigation{
    margin: 0 250px;
    position: relative;
    float: left;
}
.tab{
    border: 1px solid #e6e6e6;
    padding: 5px;
    cursor: pointer;
}
.actions{
    float: right;
}
.link{
    text-decoration: underline;
    margin: 0px 3px;
    cursor: pointer;
}
.main {
    border: 1px solid #e6e6e6;
    min-height: 500px;
}
.groupList .group{
    cursor: pointer;
}

.innerSection{
    padding: 10px;
}

.groupListSection{
    float: left;
    width: 150px;
    min-height: 480px;
}
.productsSection{
    float: left;
    border-left: 2px solid #e6e6e6;
    min-height: 480px;
    max-width: 700px;
}
.groupTitle{
    margin: 14px 0px;
}

.groupTitle h1, .groupTitle h2, .groupTitle h3, .groupTitle h4{
    margin: 5px 0px;
}

.cbDisplayGrid{
    top: -55px;
    right: -520px;
    position: relative;
}

.list.product{
    height: 80px;
    margin: 15px 0px;
}

.grid.product{
    background-color: #F4F4F4;
    height: 230px;
    width: 200px;
    padding: 10px;
    float: left;
    margin: 5px 5px;
}

.list .productThumbnail{
    float: left;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
}
.grid .productThumbnail{
    border-radius: 15px;
    height: 100px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 10px;
	margin-bottom: 10px;
}

.productThumbnailImage{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

.list .productInfo{
    float: left;
    margin: 0px 10px;
    width: 540px;
}
.list .placeAnOrder{
    float: right;
    margin-top: 15px;
}

.grid .placeAnOrder{
    margin-top: 15px;
}

.grid button.btnPlaceAnOrder{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color:white;
}
.back{
    margin-top: 15px;
}

button{
    padding: 10px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}
hr{
    clear: both;
}

